{% extends 'base.html' %}

{% block con %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 body-login">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label iconfont">&#xe66b;</label>
                        <div class="col-sm-10">
                            {{ form.book_name }}
                            <span class="text-danger">{{ form.book_name.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label iconfont">&#xe66b;</label>
                        <div class="col-sm-10">
                            <select name="auth_id_list" multiple class="form-control">
                                {% for auth in auth_obj %}
                                    <option value={{ auth.pk }}>{{ auth.auth_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="text-danger">{{ form.pub_id.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label iconfont">&#xe66b;</label>
                        <div class="col-sm-10">
                            <select name="pub_id" class="form-control">
                                {% for pub in pub_obj %}
                                    <option value={{ pub.pk }}>{{ pub.pub_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="text-danger">{{ form.pub_id.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 10px">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info btn-block">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}