{% extends 'base2.html' %}

{% block db_book %}
    <!-- 新增作者：按钮 -->
    <div class="book-head">
    <span class="btn btn-success btn-lg pull-right" data-toggle="modal"
          data-target=".modal-auth">添加</span>
    </div>
    <!-- 新增作者：模态框 -->
    <div class="modal fade modal-auth" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                            {{ form.auth_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10" style="margin-bottom: 10px">
                            <button type="submit" class="btn btn-info btn-block">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 遍历作者 -->
    {% for auth in auth_list %}
        <div class="col-md-3 pub-auth">
            <!-- 作者超链接 -->
            <div class="auth-bg bg">
                <a class="text-muted text-center center-block" href="/app_home/{{ auth.pk }}/auth_info/"></a>
            </div>
            <span class="text-center center-block small">{{ auth.auth_name }}</span>
            <div>
                <!-- 删除 -->
                <a href="/app_home/{{ auth.pk }}/delete_auth" style="margin-right: 20px" class="btn btn-danger btn-sm
            pull-right">删除</a>
                <!-- 修改：按钮 -->
                <span class="btn btn-warning btn-sm pull-left" style="margin-left: 20px" data-toggle="modal"
                      data-target="#modal{{ auth.pk }}">修改</span>
                <!-- 修改：模态框 -->
                <div class="modal fade" id="modal{{ auth.pk }}" tabindex="-1" role="dialog"
                     aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <form class="form-horizontal" action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                                        <!-- 修改前 -->
                                        <input class="form-control" name="{{ auth.pk }}auth_name"
                                               value="{{ auth.auth_name }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10" style="margin-bottom: 10px">
                                        <!-- home.js -->
                                        <span class="btn btn-info btn-block change_auth">确认修改</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="page-nav">
        <nav>
            <ul class="pagination">
                {{ pager.page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}