{% extends 'base2.html' %}

{% block db_book %}
    {#    <a href="/app_home/add_book/" class="btn btn-success btn-lg pull-right">新增图书</a>#}
    <!-- Large modal -->
    <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal"
            data-target=".bs-example-modal-lg">新增图书
    </button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-top: 30px">
                            {{ form.book_name }}
                            <span class="text-danger">{{ form.book_name.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-top: 30px">
                            <select name="auth_id_list" multiple class="form-control">
                                {% for auth in auth_obj %}
                                    <option value={{ auth.pk }}>{{ auth.auth_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="text-danger">{{ form.pub_id.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-top: 30px">
                            <select name="pub_id" class="form-control">
                                {% for pub in pub_obj %}
                                    <option value={{ pub.pk }}>{{ pub.pub_name }}</option>
                                {% endfor %}
                            </select>
                            <span class="text-danger">{{ form.pub_id.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 10px">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-bottom: 10px">
                            <button type="submit" class="btn btn-info btn-block">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr class="info">
            <th width="100">编号</th>
            <th width="200">书名</th>
            <th width="200">出版社</th>
            <th width="200">作者</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for book in book_obj %}
            <tr height="50">
                <td>{{ forloop.counter }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.pub.pub_name }}</td>
                <td>{% for auth in book.auth.all %}
                    <span>{{ auth.auth_name }}</span>
                {% endfor %}
                </td>
                <td>
                    <a href="/app_home/{{ book.pk }}/delete_book" class="btn btn-danger btn-sm pull-right">删除</a>
                    <a href="/app_home/{{ book.pk }}/change_book" class="btn btn-warning btn-sm pull-right"
                       style="margin-right: 5px">修改</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}