{% extends 'base2.html' %}

{% block db_book %}
    <!-- 新增图书：按钮 -->
    <div class="book-head">
    <span class="btn btn-info btn-lg pull-right iconfont" data-toggle="modal" data-target=".modal-book">&#xe6a1;
    </span>
    </div>
    <!-- 新增图书：模态框 -->
    <div class="modal fade modal-book" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <!-- 书名 -->
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                            {{ form.book_name }}
                        </div>
                    </div>
                    <!-- 作者 -->
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                            <div class="clearfix" style="border: 1px solid #ccc; border-radius: 4px">
                                {% for auth in auth_obj %}
                                    <div class="pull-left small" style="padding: 10px">
                                        <input type="checkbox" name="auth_id_list" value={{ auth.pk }}>
                                        <span>{{ auth.auth_name }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- 出版社 -->
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                            <select name="pub_id" class="form-control">
                                {% for pub in pub_obj %}
                                    <option value={{ pub.pk }}>{{ pub.pub_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="padding-top: 10px">
                        <div class="col-md-offset-1 col-md-10" style="margin-bottom: 10px">
                            <button type="submit" class="btn btn-info btn-block iconfont">&#xe6a1;</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 遍历图书 -->
    <table class="table table-striped">
        <!-- 标题栏 -->
        <thead>
        <tr class="info text-muted" align="center">
            <th width="50" style="text-align: center">编号</th>
            <th width="250" style="text-align: center">书名</th>
            <th width="200" style="text-align: center">出版社</th>
            <th width="200" style="text-align: center">作者</th>
            <th></th>
        </tr>
        </thead>
        <!-- 内容 -->
        <tbody>
        {% for book in book_list %}
            <tr height="50" align="center">
                <!-- 编号 -->
                <td class="text-muted small">{{ forloop.counter }}</td>
                <!-- 书名 -->
                <td class="small">{{ book.book_name }}</td>
                <!-- 出版社超链接 -->
                <td class="small">
                    <a href="/app_home/{{ book.pub_id }}/pub_info/">{{ book.pub.pub_name }}</a>
                </td>
                <!-- 作者超链接 -->
                <td class="small">{% for auth in book.auth.all %}
                    &nbsp;<a href="/app_home/{{ auth.pk }}/auth_info/">{{ auth.auth_name }}</a>&nbsp;
                {% endfor %}
                </td>
                <td>
                    <!-- 删除按钮 -->
                    <a href="/app_home/{{ book.pk }}/delete_book" class="btn btn-info btn-sm pull-right iconfont">&#xe88a;</a>
                    <!-- 修改按钮 -->
                    <span class="btn btn-info btn-sm pull-left iconfont" style="margin-left: 20px" data-toggle="modal"
                          data-target="#modal{{ book.pk }}">&#xe606;</span>
                    <!-- 修改：模态框 -->
                    <div class="modal fade" id="modal{{ book.pk }}" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                                <form class="form-horizontal" action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <!-- 修改前 -->
                                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                                            <input class="form-control" name="{{ book.pk }}book_name"
                                                   value="{{ book.book_name }}">
                                        </div>
                                        <!-- 作者 -->
                                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                                            <div class="clearfix"
                                                 style="border: 1px solid #ccc; border-radius: 4px">
                                                {% for auth in auth_obj %}
                                                    <div class="pull-left small" style="padding: 10px">
                                                        <!-- 检测关联关系 -->
                                                        {% if auth in book.auth.all %}
                                                            <input type="checkbox" name="auth_id_list"
                                                                   value={{ auth.pk }} checked>
                                                        {% else %}
                                                            <input type="checkbox" name="auth_id_list"
                                                                   value={{ auth.pk }}>
                                                        {% endif %}

                                                        <span>{{ auth.auth_name }}</span>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- 出版社 -->
                                        <div class="col-md-offset-1 col-md-10" style="margin-top: 30px">
                                            <select name="pub_id" class="form-control">
                                                {% for pub in pub_obj %}
                                                    <!-- 检测关联关系 -->
                                                    {% if pub == book.pub %}
                                                        <option value={{ pub.pk }} selected>{{ pub.pub_name }}</option>
                                                    {% else %}
                                                        <option value={{ pub.pk }}>{{ pub.pub_name }}</option>
                                                    {% endif %}

                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-1 col-md-10" style="margin-bottom: 10px">
                                            <!-- home.js -->
                                            <span class="btn btn-info btn-block change_book">确认修改</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="page-nav">
        <nav>
            <ul class="pagination">
                {{ pager.page_html|safe }}
            </ul>
        </nav>
    </div>
{% endblock %}