{% extends 'home/home.html' %}

{% block db_book %}
{#    <a href="/app_home/add_pub/" class="btn btn-success btn-lg pull-right">新增出版社</a>#}
    <!-- Small modal -->
    <button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target=".bs-example-modal-sm">新增出版社
    </button>

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-top: 30px;">
                            {{ form.pub_name }}
                            <span class="text-danger">{{ form.pub_name.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group" >
                        <div class="col-sm-offset-1 col-sm-10" style="margin-bottom: 10px">
                            <button type="submit" class="btn btn-info btn-block">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>出版社</th>
        </tr>
        </thead>
        <tbody>
        {% for pub in pub_obj %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ pub.pub_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}