.header{
    height: 70px;
    background-color: rgba(0,0,0,0.03);
    border-bottom: 1px solid #E6E5E6;
}
.usr{
    margin-top: 18px;
}
.btn-logout{
}
.dropdown-menu{
    padding: 0;
    margin: 0;
    min-width: 80px;
    line-height: 40px;
    text-align: center;
}

.title{
    padding: 8px;
    margin: 0;
    text-align: center;
    line-height: 70px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s all;
}
.title-icon{
    font-size: 35px;
    padding-top: 17px;
}
.title:hover{
    color: #ff6700;
    transition: 0.3s all;
}

a,a:hover{
    text-decoration:None;
}