body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
}
.body-img{
    height: 600px;
    background: url("/static/auth/books.svg") no-repeat center;
    background-size: auto 450px;
}
.body-login{
    margin-top: 50px;
    padding-top: 50px;
    border-radius: 10px;
}
.body-login h3{
    width: 100%;
    margin: 20px auto;
    color: #888484;
    font-size: 24px;
    text-align: center;
}
.btn,
.btn:hover{
    transition: 0.5s all;
}