<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 页面跳转使用 -->
    {% block meta %}
    {% endblock %}
    <title>简易图书管理系统（demo）</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/favicon.ico">
    <link href="/static/bootstrap-3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="/static/auth/login.css" rel="stylesheet">
    <link href="/static/fonts/fonts.css" rel="stylesheet">
    <link href="/static/auth/header.css" rel="stylesheet">
    <link href="/static/home/home.css" rel="stylesheet">
    <link href="/static/reset.css" rel="stylesheet">
    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/auth/header.js"></script>
    <script src="/static/auth/login.js"></script>
    <script src="/static/home/home.js"></script>
    <script src="/static/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<body>
<!-- 导航栏 -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <span class="title-icon iconfont pull-left">&#xe6fb;</span>
                <span class="title">简易图书管理系统（demo）</span>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <!-- 按钮：用户信息 -->
                {% block btn %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="body">
    <!-- 主体 -->
    {% block con %}
    {% endblock %}
</div>
</body>
<script>
    console.log(`
博客园：https://www.cnblogs.com/xiangjianan/

微信：inMyLife2021

`);
</script>
</html>