{% extends 'base.html' %}

{% block btn %}
    <div class="pull-right dropdown">
        <span class="pull-right btn btn-link usr iconfont" id="usr-logout" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">&#xe66b; {{ usr }}</span>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <a href="/app_auth/logout/" class="text-muted">安全退出</a>
        </ul>
    </div>
{% endblock %}

{% block con %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 body-left">
                <ul>
                    <a class="btn btn-block btn-info btn-lg pull-left" href="/app_home/home/">图书</a>
                    <a class="btn btn-block btn-info btn-lg pull-left" href="/app_home/author/">作者</a>
                    <a class="btn btn-block btn-info btn-lg pull-left" href="/app_home/publish/">出版社</a>
                </ul>
            </div>
            <div class="col-md-9 body-right">
                {% block db_book %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
