{% extends 'base.html' %}
{% block meta %}
    <meta http-equiv="refresh" content="1;url=../login">
{% endblock %}

{% block con %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 body-login">
                <img class="center-block" src="/static/auth/reg_success.jpeg" style="width: 50%">
                <p class="h3 text-center text-muted">注册成功</p>
            </div>
        </div>
    </div>
{% endblock %}